* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: poppins !important;
}

ul {
  list-style: none;
}

a {
  color: black !important;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .container {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu {
  background-color: #e3e3e3;
  position: fixed;
  top: 10vh;
  left: -320px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu.toggled {
  top: 10vh;
  left: 0;
}

.menu .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 3rem 1rem;
}

.menu .container ul.social-icons {
  padding: 0;
}

.menu .container ul.social-icons li {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 0.5rem;
}

.menu .container ul.social-icons li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu .container ul.nav-menu {
  margin: 0;
  margin-left: 30px;
}

.menu .container ul.nav-menu li {
  padding: 1rem 5em 1rem 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none !important;
  cursor: pointer;
}

.menu .container ul.nav-menu li:hover {
  padding-left: 1rem;
}

.hero {
  height: 90vh;
  background: #f0f0f0;
}

.hero .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container .right {
  background: url(/img/clothing3a.png);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.hero .container .left {
  width: 100%;
}

section {
  padding: 2rem 0;
}

section .section-header {
  text-align: center;
  padding-bottom: 1rem !important;
  width: 500px;
  margin: auto;
}

section.services .section-body {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

section.services .section-body div.card {
  text-align: center;
}

section.work-showcase .section-body {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section.work-showcase .overlay {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

section.work-showcase .work-card {
  overflow: hidden;
  position: relative;
  height: 270px;
}

section.work-showcase .work-card:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

section.work-showcase .work-card img {
  height: 100%;
  width: 100%;
}

.filler-div {
  height: 500px;
}

.contact-form {
  padding: 1rem;
}

.contact-details .wrapper {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 5px;
}

.contact-details .wrapper .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.contact-details .wrapper .detail strong {
  color: #2068ff;
}

.contact-details .wrapper .detail p {
  margin-bottom: 0;
  word-wrap: anywhere;
}

.contact-details .wrapper i {
  margin-right: 20px;
  color: #2068ff;
}

footer {
  padding: 1rem 0;
  background-color: #333333;
  color: white;
}

footer a {
  color: #86adff !important;
}

@media screen and (max-width: 765px) {
  body {
    font-size: 15px !important;
  }
  header .logo {
    font-size: 0.8rem;
  }
  .hero .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .left, .hero .right {
    padding: 2rem 0 !important;
  }
  .hero .right {
    display: none;
  }
  .menu .container ul.nav-menu li {
    padding: 1rem 5rem 2rem 0.5rem;
  }
  section .section-header {
    width: 70vw;
  }
  section .services .section-body {
    display: none;
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
